.testimonialLink:hover {
    text-decoration: none;
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}


.learnMore {
  width:80%;
  margin:0px;
  text-align: center;
  color: #dddddd;
  font-size:20px;
  font-style:oblique;
  position:absolute;
  left: 10%;
  bottom: 15%;
  position:center;
}

.tiles{
  /*height:400px;*/
  display: grid;
  grid-gap: 0px;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  grid-auto-flow:dense;

}

.tile {

  height:400px;
  position:relative;
  /*border-style: solid;*/
  /*position:relative;*/
  /*height:100px;*/
  /*width:450px;*/
  /*margin:0 auto;*/
  /*-webkit-filter: brightness(70%);*/
  /*filter: brightness(70%);*/
}
.tile .tileHeader{
  width:90%;
  margin:0px;
  text-align: center;
  color: white;
  font-size:36px;
  position:absolute;
  left: 5%;
  top: 5%;
  position:center;
}
.tile .tileContent{
  width:80%;
  margin:0px;
  text-align: left;
  color: white;
  stroke:black;
  font-size:20px;
  position:absolute;
  left: 10%;
  top: 30%;
  position:center;
}
.tile .cover {
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.tile .cover:hover {
  opacity:0;
}
.tile .tileTitle{
  width:75%;
  margin:0px;
  text-align: center;
  color: white;
  stroke:black;
  font-size:36px;
  z-index: 20;
  position:absolute;
  left: 12.5%;
  bottom: 50%;
  position:center;

}

.tile img {
  height:400px;
  position: absolute;
  /*left:0;*/

}
.tile .bottom img {
  border-style:solid;
  height:400px;
  position: absolute;
  z-index: -1;
  /*left:0;*/

}

.tile .top {
  height:400px;
  /*-webkit-transition: opacity .3s ease-in-out;*/
  /*-moz-transition: opacity .3s ease-in-out;*/
  /*-o-transition: opacity .3s ease-in-out;*/
  /*transition: opacity .3s ease-in-out;*/
  border-style:solid;
}

.tile img.bottom {
  -webkit-filter: blur(5px);
  filter: blur(5px);

}

/*.tile .top:hover {*/
/*opacity:0;*/
/*}*/

.bannertitle {
  display: inline-block;
  color:red;
  border-style: solid;
  z-index:20;

}


.bannerimage {
  z-index: -1;
  display: inline-block;
  /*border-style: solid;*/
  /*border-style: solid;*/
  border-width: 4px;
}

#sidebar_doc {
  position: -webkit-sticky;
  position: sticky;
  top:15%;
}

td {
  padding:5px;
}

.showTable td, .showTable th {
  border-style:solid;
  border-color:black;
  border-width: 2px;
  padding:2px;
}

.showTable tr .courseTitle {
  /*width:400px;*/
}

.bigTable {
  width:1200px;
}
.bigTable > tbody > tr > td{
  /*border-style:solid;*/
  padding:5px;
  vertical-align: top;
}
table h4 {
  margin-top:5px;
  margin-bottom:5px;
}
table hr {
  margin:0px;
}
.facultyImg figure {
  margin:10px;
  /*border-style:solid;*/

}
.facultyImg img  {
  border-radius:5px;
  box-shadow: 1px 3px 8px #888888;
}
.insertL figure {
  float:left;
  /*border-style:solid;*/
  margin-right:20px;
  margin-bottom:0px;
  /*border-style:solid;*/

}
.insertL img{
  border-radius:3px;
  border-color:black;
  box-shadow: 1px 3px 8px #888888;
  margin-bottom: 5px;
}

.insertR figure {
  float:right;
  /*border-style:solid;*/
  margin-left:20px;
  margin-bottom:0px;
  /*border-style:solid;*/

}
.insertR img{
  border-radius:3px;
  border-color:black;
  box-shadow: 1px 3px 8px #888888;
  margin-bottom: 5px;
}

.two-column-container-right3{
  border-style: solid;
}
/*.col-md-12 a {*/
  /*target:_blank;*/
/*}*/

/*#post-content img {*/

/*!*margin:10px;*!*/
/*!*border-style:solid;*!*/

/*}*/
figcaption {
  color:grey;
  /*text-style:italic;*/
  font-style:italic;
  /*Uh oh? text-*/
}

.hero {
  width:100%;
  height:450px;
  margin-bottom:0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #666666;

  /*Background Image*/
  background: white;
  background-image: url("/img/home/tsat_3.jpg");
  background-size: cover;
  background-position: top 68px center;
  background-repeat: no-repeat;
  background-attachment:fixed;

  /*flexbox*/
  display: flex;
  justify-content: center;
  align-items: center;

  /*mask*/
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,.85) 0%, black 75%);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,.85) 0%, black 75%);
}

.hero-inner{
  /*position:absolute;*/
  /*top: 200px;*/
  text-align: center;
  color: white;
  width:50%;
}



 .hero-inner h2 {
   text-align: center;
   color:white;
 }

 .hero-inner p {
   color: #bbbbbb;
 }

 .hero-inner a {
     border-style: solid;
     padding:5px;
     padding-left: 10px;
     padding-right: 10px;
     border-width:2px;
 }

 .hero-inner a:hover {
     text-decoration: none;
 }
#homeHero {
  background: black;
  /*background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url("/img/home/tsat_3.jpg");*/
  background-image: url("/img/home/tsat_3.jpg");
  background-size: 700px;
  background-position: top 68px right;
  background-repeat: no-repeat;
  background-attachment:fixed;
  height:520px;

}

#homeHero .hero-inner {
  left: 0%;
  position: absolute;
}


#aboutUsHero {
  background-image: url("/img/about/info_westond.jpg");
  top:68px;
  height: 500px;

}

#aboutUsHero .hero-inner{

}

#aboutUsHero .hero-inner p {
  color: #eeeeee;
  font-size: ;
}

#aboutUsHero .hero-inner a {
  color: #85e5f7;
}
#aboutUsHero .hero-inner a:hover {
  color: #7ebecc;
  background-color: #ceeaef ;

}

#projectsHero {
  background-image: url("/img/projects/posters_banner.png");
  background-position: top 68px center;
  background-repeat: no-repeat;
  background-size: 1800px;
  /*background-attachment:scroll;*/

  height:500px;
}

#projectsHero .hero-inner h2 {
  color: #000000;
  color: white;
}

#projectsHero .hero-inner p {
  color: #222222;
  color: #eeeeee;
}

#projectsHero .hero-inner a {
  color: #e3f4f7;
}
#projectsHero .hero-inner a:hover {
  color: #c0dbe0;
}



#postersHero {
  background-image: url("/img/projects/2018_19_banner2.png");
  background-position: top 68px right;
  background-repeat: no-repeat;
  background-size: 1800px;
  background-attachment:scroll;
  margin-bottom: 30px;

  height:300px;
}

#postersHero .hero-inner h2 {
  color: #000000;
  color: white;
}

#postersHero .hero-inner p {
  color: #222222;
  color: #eeeeee;
}

#postersHero .hero-inner a {
  color: #e3f4f7;
}
#postersHero .hero-inner a:hover {
  color: #c0dbe0;}