.testimonialLink:hover {
    text-decoration: none;
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}


.learnMore {
  width:80%;
  margin:0px;
  text-align: center;
  color: #dddddd;
  font-size:20px;
  font-style:oblique;
  position:absolute;
  left: 10%;
  bottom: 15%;
  text-shadow: 1px 1px 3px #444444;
}





.bannertitle {
  display: inline-block;
  color:red;
  border-style: solid;
  z-index:20;

}


.bannerimage {
  z-index: -1;
  display: inline-block;
  /*border-style: solid;*/
  /*border-style: solid;*/
  border-width: 4px;
}


td {
  padding:5px;
}

.showTable td, .showTable th {
  border-style:solid;
  border-color:black;
  border-width: 2px;
  padding:2px;
}

.showTable tr .courseTitle {
  /*width:400px;*/
}

.bigTable {
  width:1200px;
}
.bigTable > tbody > tr > td{
  /*border-style:solid;*/
  padding:5px;
  vertical-align: top;
}
table h4 {
  margin-top:5px;
  margin-bottom:5px;
}
table hr {
  margin:0px;
}
.facultyImg figure {
  margin:10px;
  /*border-style:solid;*/

}
.facultyImg img  {
  border-radius:5px;
  box-shadow: 1px 3px 8px #888888;
}
.insertL figure {
  float:left;
  /*border-style:solid;*/
  margin-right:20px;
  margin-bottom:0px;
  /*border-style:solid;*/

}
.insertL img{
  border-radius:3px;
  border-color:black;
  box-shadow: 1px 3px 8px #888888;
  margin-bottom: 5px;
}

.insertR figure {
  float:right;
  /*border-style:solid;*/
  margin-left:20px;
  margin-bottom:0px;
  /*border-style:solid;*/

}
.insertR img{
  border-radius:3px;
  border-color:black;
  box-shadow: 1px 3px 8px #888888;
  margin-bottom: 5px;
}

.two-column-container-right3{
  border-style: solid;
}

figcaption {
  color:grey;
  font-style:italic;
  width:100%;
}

.hero {
  width:100%;
  height:450px;
  margin-bottom:0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #666666;

  /*Background Image*/
  background: white;
  background-image: url("/img/hero.jpg");
  background-size: cover;
  background-position: top 68px center;
  background-repeat: no-repeat;
  background-attachment:fixed;

  /*flexbox*/
  display: flex;
  justify-content: center;
  align-items: center;

  /*mask*/
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,.85) 0%, black 75%);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,.85) 0%, black 75%);
}

.hero-inner{
  /*position:absolute;*/
  /*top: 200px;*/
  text-align: center;
  color: white;
  width:50%;
}



 .hero-inner h2 {
   text-align: center;
   color:white;
 }

 .hero-inner p {
   color: #dddddd;
 }

 .hero-inner a {
     border-style: solid;
   padding: 5px 10px;
   border-width:2px;

 }

 .hero-inner a:hover {
     text-decoration: none;
   color: rgb(140,140,205);
 }
.hero .hero-background{
  background-color:rgba(0,0,0,.4);
  position:absolute;
  height:100%;
  width:35%;
}


#homeHero {
  background: transparent;
  background-image: url(/img/home/hero.png);
  background-size: 900px;
  background-position: top 0px right;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 465px;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, black 75%)
}

#homeHero .hero-inner {
  left: 0%;
  position: absolute;
}
@media (min-width: 620px) {
    #siteIntro {
        background-image: url(/img/home/banner.png);
        background-position: center top 40px;
        background-size: 2000px;
    }
}
@media (max-width: 619px){
    #siteIntro {
        background-image: none;
        /*-webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,1));*/

    }
}
@media (max-width: 425px){
    #siteIntro {
        height: 400px;
    }
}
@media (min-width: 426px) {
    #siteIntro {
        height: 300px;
    }
}
#siteIntro {
    /*background-color: #333333;*/
    /*mask-image: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,1));*/
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, black 75%);

  background-color: rgba(24,30,61,1);
  /*height: 300px;*/
  padding-top: 70px;
  background-attachment: scroll;
}

#siteIntro .hero-inner {
  /*right:10%;*/
  /*position: absolute;*/
    max-width: 500px;
}
#siteIntro .hero-inner  h1 {
  color:white;
}

#siteIntro .hero-inner  p {
    color:white;
}

#siteIntro {
  font-weight: bold;
}


#aboutUsHero {
  background-image: url("/img/why_us/hero.jpg");
  top:68px;
  height: 30vw;
  background-size: 100%;
  -webkit-mask-image: linear-gradient(to bottom, black, black);
  mask-image: linear-gradient(to bottom, black, black);
  border-bottom-style: none;
}

#aboutUsHero .hero-inner h2{
  transform: translate(0,35px);
  /*text-shadow: 1px 1px 3px #222222;*/

}

#aboutUsHero .hero-inner p {
  color: #eeeeee;
  /*text-shadow: 1px 1px 3px #222222;*/
  /*text-shadow: 1px 1px 1px #444444*/
}

#aboutUsHero .hero-inner a {
  color: #85e5f7;
  /*text-shadow: 1px 1px 3px #222222;*/
}
#aboutUsHero .hero-inner a:hover {
  color: #7ebecc;
  background-color: #ceeaef ;
}

#projectsHero {
  background-image: url("/img/projects/hero.jpg");
  background-position: top 68px center;
  background-repeat: no-repeat;
  background-size: 2000px;
  height:500px;
  -webkit-mask-image: linear-gradient(to bottom, black, black);
  mask-image: linear-gradient(to bottom, black, black);
}

#projectsHero .hero-inner h2 {
  color: white;
}

#projectsHero .hero-inner p {
  color: #eeeeee;
}

#projectsHero .hero-inner a {
  color: #e3f4f7;
}
#projectsHero .hero-inner a:hover {
  color: #c0dbe0;
}

#postersHero {
  background-image: url("/img/projects/2018_19_hero.png");
  background-position: top 68px right;
  background-repeat: no-repeat;
  background-size: 2000px;
  background-attachment:scroll;
  margin-bottom: 30px;
  height:300px;
}

#postersHero .hero-inner h2 {
  color: white;
}

#postersHero .hero-inner p {
  color: #eeeeee;
}

#postersHero .hero-inner a {
  color: #e3f4f7;
}
#postersHero .hero-inner a:hover {
  color: #c0dbe0;}

#coursesHero {
  background-image: url("/img/information/computers.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 2000px;
  margin-bottom: 30px;
  height:500px;
}

#satelliteHero {
  background-image: url("/img/satellite/stars-1.png");
  background-color: black;
  height: 600px;

}

#activitiesHero {
  background-image: url("/img/activities/collage.jpg");
  background-size: 100vw;
  height:40vw;
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,.5) 0%, black 70%);
  mask-image: linear-gradient(to top, rgba(0,0,0,.5) 0%, black 70%);
}

#activitiesHero .hero-inner p {
  color: #FFFFFF;
}
#activitiesHero .hero-inner {
  width: 40%;
}

#activitiesHero .hero-inner h2 {
  text-shadow: 1px 1px 3px #222222;
}

#activitiesHero .hero-inner p {
  text-shadow: 1px 1px 2px #222222;
}


#tupilotsHero {
  background-image: url("/img/activities/drone2.jpg");
  background-position: center left;
  background-size:40%;
  background-color:black;
  height:650px;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,.0) 0%, black 30%);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,.0) 0%, black 30%);
}

#tupilotsHero .hero-inner {
  right:10%;
  top:40%;
  width:30%;
  position:fixed;
}
#jobfairHero {
  background-image: url("/img/activities/job_fair2.jpg");
  background-position: top right;
  background-size:cover;
  background-color:black;
  height:650px;
}

#jobfairHero .hero-inner {
  top:40%;
  width:30%;
  position:fixed;
  left:10%;
}
#jobfairHero .hero-background {
  left: 7.5%;
}

#gamejamHero {
  background-image: url("/img/activities/gamejam.jpg");
  background-position: center center;
  background-size:cover;
  background-color:black;
  height:650px;
}
#gamejamHero .hero-background {
  right:7.5%;
}
#gamejamHero .hero-inner {
  right:10%;
  top:40%;
  width:30%;
  position:fixed;

}
#cmcHero {
  background-image: url("/img/activities/cmc.jpg");
  background-position: center center;
  background-size:cover;
  background-color:black;
  height:650px;
}
#cmcHero .hero-background {
  left:7.5%;
}
#cmcHero .hero-inner {
  position:absolute;
  left:10%;
  top:40%;
  width:30%;
  position:fixed;
}


#posterHero {                                                 /*For hero from activities article, NOT from posters article*/
  background-image: url("/img/activities/posters.jpg");
  background-position: top right;
  background-size:cover;
  background-color:black;
  height:650px;
}
#posterHero .hero-background {
  left:7.5%;
}
#posterHero .hero-inner {
  left:10%;
  top:40%;
  width:30%;
  position:fixed;
}
#posterHero .hero-inner p {
  color: #EEEEEE;
}

#internshipsHero {
  background-image: url("/img/activities/logos.png");
  background-color: black;
  background-position:  80% center;
  background-size:30vw;
  background-color:black;
  height:650px;
}
#internshipsHero .hero-background {
  left:7.5%;
}
#internshipsHero .hero-inner {
  left:10%;
  top:40%;
  width:30%;
  position:fixed;
}

#retreatHero {
  background-image: url("/img/activities/freshmen_retreat.jpg");
  background-position:  center center;
  background-size:cover;
  background-color:black;
  height:650px;
}
#retreatHero .hero-background {
  right:7.5%;
}
#retreatHero .hero-inner {
  right:10%;
  top:40%;
  width:30%;
  position:fixed;
}

#articlesHero {
  margin-bottom: 30px;
  background-image: url("/img/articles/hero.jpg");
  background-size: 100%;
  background-position: top right;
  height: 35vw;
  -webkit-mask-image: linear-gradient(to bottom, black, black);
  mask-image: linear-gradient(to bottom, black, black);
}
#articlesHero p {
  filter:brightness(1.4);
}

#facultyHero {
  margin-bottom: 20px;
  background-size: 2000px;
  background-position: top center;
  height: 400px;
}
#facultyHero .hero-inner {
  position: absolute;
  left: 0%;
}
#facultyHero .hero-inner h1 {
  color:black;
}


#facultyHero .hero-inner p {
  color:#222222;
  font-style: italic;
}
.list {background-image: url("/img/faculty/banner.jpg");}
.brandle {background-image: url("/img/faculty/brandle_stefan_hero.jpg");}
.denning {background-image: url("/img/faculty/denning_jon_hero.jpg");}
.cramer {background-image: url("/img/faculty/cramer_jeff_hero2.jpg");}
.geisler {background-image: url("/img/faculty/geisler_jonathan_hero.jpg");}
.nurkkala {background-image: url("/img/faculty/nurkkala_tom_hero.jpg");}
.stanley {background-image: url("/img/faculty/stanley_dannie_hero.jpg");}
.white {background-image: url("/img/faculty/white_art_hero.jpg");}
.horsley {background-image: url("/img/faculty/horsley_lara_hero.jpg");}
.slauson {background-image: url("/img/faculty/slauson_william_hero.jpg");}
.lehrian {background-image: url("/img/faculty/lehrian_tim_hero.jpg");}
.nurkkala_darci {background-image: url("/img/faculty/nurkkala_darci_hero.jpg");}
.hibschman {background-image: url("/img/faculty/hibschman_josh_hero.jpg");}
.dalcher {background-image: url("/img/faculty/dalcher_steven_hero.jpg");}
.roller {background-image: url("/img/faculty/roller_ben_hero.jpg");}


#profsHero {
  background-image: url("/img/faculty/banner_profs.jpg");
  background-size: 100%;
  background-position: bottom;
  height: 24.5vw;
  background-attachment: scroll;

}

#adjunctsHero {
  background-image: url("/img/faculty/banner_adjuncts.jpg");
  background-size: 100%;
  background-position: center bottom ;
  /*background-position: cover center;*/
  height: 24.5vw;
  background-attachment: scroll;

}

#staffHero {
  background-image: url("/img/faculty/banner_staff.jpg");
  background-size: 100%;
  background-position: center bottom;
  height: 24.5vw;
  background-attachment: scroll;
}


.tiles{
  background-color:black;
  display: grid;
  grid-gap: 0px;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  grid-auto-flow:dense;
}

.tile {
  height:35vw;
  position:relative;
  overflow: hidden;
  border: 2px solid #000000;
  border-top-width: 4px;
  border-bottom-width: 4px;
}
.tile .tileHeader{
  width:90%;
  margin:0px;
  text-align: center;
  color: white;
  font-size:36px;
  position:absolute;
  left: 5%;
  top: 5%;
  text-shadow: 1px 1px 3px #222222;
  /*position:center;*/
}
.tile .tileContent{
  width:80%;
  margin:0px;
  text-align: center;
  justify-content: center;
  color: white;
  stroke:black;
  font-size:20px;
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 2px #222222;
}
.tile .cover {
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.tile .cover:hover {
  opacity:0;
}
.tile .tileTitle{
  width:75%;
  margin:0px;
  text-align: center;
  color: white;
  stroke:black;
  font-size:36px;
  z-index: 20;
  position:absolute;
  left: 12.5%;
  bottom: 50%;
  text-shadow: 1px 1px 3px #222222;
  /*position:center;*/
}
.tile img {
  height:400px;
  position: absolute;
}
.tile .bottom img {
  border-style:solid;
  height:400px;
  position: absolute;
  z-index: -1;
}

.tile .top {
  height:400px;
  border-style:solid;
}



.tile {
  height:35vw;
  position: relative;

}

.tile img {
  height:35vw;

}

.tile .top {
  height:35vw;
  border-style:solid;
}

.tiles #homeTiles {
  /*height:400px;*/
  display: grid;
  grid-gap: 0px;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-auto-flow:dense;

}
#aboutUsTiles .tile .top {
  height:25vw;
}
#aboutUsTiles .tile .bottom {
  height: 25vw;
}
#aboutUsTiles .tile {
  height: 25vw;
}


#activitiesTiles .tile {
  height:25vw;
}
#activitiesTiles .tile img {
  height:25vw;
}
#activitiesTiles .tile .top {
  height:25vw;
  /*border-style:solid;*/
}


.tab { margin-left: 40px; }

.activeDoc {
  font-weight: bold;
  filter:brightness(.8);
}
#sidebar_doc {
  position: -webkit-sticky;
  position: sticky;
  top:15%;
}

.docs-menu {
  border-width:1px;
  padding:10px;
  border-top:solid;
  border-bottom:solid;
}

.facultyGrid {
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  grid-gap: 40px;
  width:100%;
}
#profs {
  grid-template-rows: repeat(4, 20vw);         /*If adding tiles, increase first repeat parameter to add rows*/
}
 #adjuncts {
  grid-template-rows: repeat(2, 20vw);         /*If adding tiles, increase first repeat parameter to add rows*/
}
 #staff {
  grid-template-rows: repeat(2, 20vw);         /*If adding tiles, increase first repeat parameter to add rows*/
  margin-bottom: 20px;
}

.facultyGrid .facultyTile img {
  width: 46%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border-color:black;
  box-shadow: 1px 3px 8px #888888;
}

.facultyGrid .facultyTile .contact {
position:relative;
left:48%;
  top:-100%;
  width: 46%;
  height:100%;
  /*border-style:solid;*/
  border-width: 2px;
  border-radius: 10px;
  padding:10px;
  padding-top: 0px;
}

.facultyGrid .contact h3{
/*text-align: center;*/
  margin-top:10px;
  margin-bottom:8px;
  font-size: 26px;

}
.facultyGrid .contact h4{
  font-size: 18px;
  margin-bottom: 8px;

}

.facultyGrid .contact p{
  font-size: 16px;
}

.customContent {
  /*margin:50px;*/
  margin: 25px 100px 25px;
}

.contactIcons figcaption h4{
  font-size: 16px;
}

.contactIcons img {
  border-radius: 5px;
}

.bar.background-smile {
  background-size: 100%;
  background: url('/img/home/testimonial_background2.jpg') no-repeat center center;
  /*background-attachment: scroll;*/
  /*border-bottom:solid;*/
  /*border-width: 1px;*/
  /*border-color: #999999;*/
}

.bar.background-image-fixed-2 {
  background: url('../img/home/why_us.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*background-attachment: scroll;*/

}

.whySection {
  /*padding: 30px;*/
  width: 100vw;
  background-color: #EEEEEE;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  height: var(--height);
}
#education {
  background:url('../img/why_us/computer_engineering2.jpg');
  background-size: 100%;
  /*background-attachment:fixed;*/
  background-position: center;
  background-repeat: no-repeat;
}
#education .whyText {
  left:0;
  top:50%;
  height:100%;
  padding-top: 50px;
  transform: translate(0,-40%);
  color: white;
}
#education h2 {
  color:white;
}
.whySection .educationMask {
  background-color: rgba(0,0,0,.3);
  height:47vw;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  width: 550px;
  max-width: 90%;
}

#lifetogether {
  background:url('../img/why_us/lifetogether.jpg');
  background-size: 100%;
  /*background-attachment:fixed;*/
  background-position: center;
  background-repeat: no-repeat;
}
#lifetogether .whyText {
  left:0;
  top:50%;
  height:100%;
  padding-top: 50px;
  transform: translate(0,-40%);
  color: white;
}
#lifetogether h2 {
  color:white;
}
.whySection .lifetogetherMask {
  background-color: rgba(0,0,0,.3);
  height:47vw;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  width: 550px;
  max-width: 90%;
}
#graduates {
  background:url('../img/why_us/poster.jpg');
  background-size: 100%;
  /*background-attachment:fixed;*/
  background-position: center;
  background-repeat: no-repeat;
}
#graduates .whyText {
  left:0;
  top:50%;
  height:100%;
  padding-top: 50px;
  transform: translate(0,-40%);
  color: white;
  margin-left: 100px;
  margin-right: 100px;
}
#graduates h2 {
  color:white;
}
.whySection .graduatesMask {
  background-color: rgba(0,0,0,.6);
  height:47vw;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  width: 750px;
  max-width: 90%;
}
.whySection .whyText {
  max-width: 550px;
  width: 90%;
  position: relative;
  left:50%;
  transform:translate(-50%);
  text-align: center;
  margin-top:40px;
  margin-bottom: 40px;
}

.whySection h2 {
  width: 100%;
  margin-top: 0px;
  min-width: 260px;
}

.whySection p {
  margin-bottom: 20px;
}

.whySection a {
  border-style: solid;
  padding: 5px 10px;
  border-width:2px;
}
.whySection a:hover {
  text-decoration: none;
  color: rgb(140,140,205);
}
.whySection .half1 {
  width: 50%;
  position: absolute;
  border-right-style: solid;
  border-width: 2px;
}
.whySection .half2 {
  width: 50%;
  position: relative;
  left:50%;
  top:50%;
  transform: translate(0,-60%);
}
.whySection .bar-left {
  left:0%;
  text-align: left;
  transform: translate(0,-60%);
}

.action {
  height:50%;
  text-align: center;
}
#actionTop .actionInside {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#actionBottom div {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#actionTop {
  background-color: #59A5B2;
}
#actionTop a {
  color: #333333;
}
#actionTop a:hover {
  color:black;
}
#actionHalf {
  height: 100%;
  transform:translate(0,-50%);
}

@media (min-width: 1023px){
  .showSmallScreen {
    display: none;
  }
}
@media (max-width: 1023px) {
  .whySection .half1{
    width: 100vw;
    position: initial;
  }
  .whySection .half2{
    width: 100vw;
    /*left:0px;*/
    position: initial;
    transform: initial;
  }
  .whySection {
    height: initial;
  }
  .whySection img {
    opacity: .6;
  }
  #education {
    height: var(--height);
  }
  #education .educationMask {
    width: 100%;
    max-width: 100%;
  }
  #education .whyText {
    left:50%;
    transform: translate(-50%,-50%);
    margin: 0;
    top:50%;
    height: initial;
  }
  #education p {
    display: none;
  }
  #education .whyText {
    padding-top: initial;
  }

  #lifetogether {
    height: var(--height);
  }
  #lifetogether .lifetogetherMask {
    width: 100%;
    max-width: 100%;
  }
  #lifetogether .whyText {
    left:50%;
    transform: translate(-50%,-50%);
    margin: 0;
    top:50%;
    height: initial;
  }
  #lifetogether p {
    display: none;
  }
  #lifetogether .whyText {
    padding-top: initial;
  }


  #graduates {
    height: var(--height);
  }
  #graduates .graduatesMask {
    width: 100%;
    max-width: 100%;
  }
  #graduates .whyText {
    left:50%;
    transform: translate(-50%,-50%);
    margin: 0;
    top:50%;
    height: initial;
  }
  #graduates p {
    display: none;
  }
  #graduates a {
    display: none;
  }
  #graduates .whyText {
    padding-top: initial;
  }
  #actionHalf {
    height: 78vw;
    transform: translate(0,-100%);
  }
  .whySection .half2 #actionTop {
    background-color: rgba(89,165,178,.8);
  }
  .whySection #actionBottom {
    background-color: rgba(72,45,62,.6);

  }
  #actionSection {
    height: 78vw;
  }

}

@media (max-width: 370px) {
  #homeHero a {
    position: relative;
    bottom: 25px;
  }

}


@media (max-width: 450px){
  .insertL figure {
    float:none;
    width: 90%;
  }
  .insertR figure {
    float:none;
    width: 90%;
  }
  .insertL img {
    max-width: 100%;
  }
  .insertR img {
    max-width: 100%;
  }
}

@media (max-width: 460px) {
  #profsHero {
    height: 36vw;
    width: 115%
  }
  #aboutUsHero .hero-inner{
    width:80vw;
  }
  .facultyTile h4 {
    display:none;
  }
  .facultyGrid{
    grid-gap: 60px;
    margin-bottom: 80px;
  }
  #staff{
    margin-bottom: 60px;
  }
}

@media (max-width: 610px){
  .hero {
    height: 600px;
  }
  .hero-inner {
    width: 70%;
  }
  #homeHero {
    /*background:black;*/
    background-size:110%;
    height:57vw;
    /*background-position: 50px, 50px;*/
  }
  #homeHero .hero-inner p {
    visibility: hidden;
  }
  #homeHero h2 {
    /*top: 15%;*/
    position: absolute;
    left: 5%;
    right: 5%;
  }
  #aboutUsHero {
    height:60vw;
  }
  #activitiesHero {
    height: 90vw;
    background-size: 200vw;
    background-position: right 60px;
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,.5) 0%, black 40%);
  }
  #activitiesHero .hero-inner {
    height: 60px;
    width:70%;
  }
  #activitiesHero p {
    visibility:hidden;
  }
}

@media (max-width: 660px) {
  #profsHero {
    height: 32vw;
  }
  .site_intro img {
    display: none;
  }
  .site_intro .row{
    left:50vw;
    width: 80vw;
  }
}

@media (max-width: 767px) {
  #contact .insertR figure {
    display: none;
  }

  .bar.background-image-fixed-2 {
    background-attachment: scroll;
  }

  .hero {
    background-attachment: scroll;
  }
  #projectsHero .hero-inner {
    width:85%;

  }

}

@media (max-width: 820px) {
  .tiles {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  .tile {
    height: 100vw;
    border-width: 1px;
  }

  .tile img {
    height: 100vw;
  }

  .tile .top {
    height: 100vw;
  }
  .tile .cover {
    position: relative;
    height:100vw;
  }
  .tile .tileTitle {
    position: absolute;
    /*top: 50%;*/
    left: 50vw;
    transform: translate(-50%, 50%);
  }

  .tile .cover:hover {
    opacity: 1;
  }

  /*.tile .cover {*/
  /*  visibility: hidden;*/
  /*}*/
  /*.tile .cover img {*/
  /*  visibility: hidden;*/
  /*}*/

  .tile .tileContent {
    visibility: hidden;
  }
  .tile .tileHeader{
    /*top: 50%;*/
    /*left: 50%;*/
    transform: translate(-50%);
  }

  .tile .learnMore {
    visibility: hidden;
  }

}

@media (max-width: 991px) {
  #sidebar_doc {
    position:initial;
    bottom: 0%;
  }

}

@media (max-width: 1000px) {
  #jobfairHero .hero-background {
    width:90%;
    /*top:40%;*/
    left:50%;
    transform: translate(-50%,-0%);

  }
  #jobfairHero .hero-inner {
    width: 80%;
    position: initial;
    z-index: 2;
  }

  #tupilotsHero .hero-background {
    width:90%;
    /*top:40%;*/
    left:50%;
    transform: translate(-50%,-0%);
  }
  #tupilotsHero .hero-inner {
    width: 80%;
    position: initial;
    z-index: 2;

  }
  #tupilotsHero {
    background-position: left 10vh;
    -webkit-mask-image: none;
  }

  #posterHero .hero-background {
    width:90%;
    left:50%;
    transform: translate(-50%,-0%);
  }
  #posterHero .hero-inner {
    width: 80%;
    /*top:50%;*/
    /*left:50%;*/
    /*transform: translate(-50%,-50%);*/
    position: initial;
    z-index: 2;
  }
  #gamejamHero .hero-background {
    width:90%;
    left:50%;
    transform: translate(-50%,-0%);
  }
  #gamejamHero .hero-inner {
    width: 80%;
    position: initial;
    z-index: 2;
  }
  #cmcHero .hero-background {
    width:90%;
    left:50%;
    transform: translate(-50%,-0%);

  }
  #cmcHero .hero-inner {
    position: initial;
    z-index: 2;
    width: 80%;
  }
  #internshipsHero .hero-background {
    width:0%;
  }
  #internshipsHero .hero-inner {
    width: 90%;
    position: initial;
    z-index: 2;
    transform: translate(0, -115px);
  }
  #internshipsHero {
    background-position: center 200px;
    background-size: 350px;
    background-attachment: scroll;
  }
  #retreatHero .hero-background {
    width:90%;
    left:50%;
    transform: translate(-50%,-0%);
  }
  #retreatHero .hero-inner {
    width: 80%;
    position: initial;
    z-index: 2;
  }
  #articlesHero {
    height: 320px;
    background-size:1000px;
  }
  #articlesHero .hero-inner {
    top:10%;
    position: absolute;
  }
  #projectsHero {
    height: 500px;
    background-size:1500px;
  }
  #coursesHero {
    height: 500px;
    background-size:1000px;
    background-position: center 50px;
  }
  #profsHero {
    width: 100%;
    height: 38vw;
    background-size: 100%;
    background-position: bottom;
  }
  #profs {
    grid-template-columns: repeat(1,50vw);
    grid-template-rows: repeat(8,32vw);
  }
  .facultyGrid .facultyTile .contact {
    width:50vw;
    left: 42%;
  }
  .customContent {
    margin:20px;
  }
  .facultyGrid .facultyTile img {
    width:40%;
  }
  #adjunctsHero {
    /*height: 244px;*/
    /*background-size:1000px;*/
  }
  #adjuncts {
    grid-template-columns: repeat(1,50vw);
    grid-template-rows: repeat(3,32vw);
  }
  #staffHero {
    /*height: 244px;*/
    /*background-size:1000px;*/
  }
  #staff {
    grid-template-columns: repeat(1,50vw);
    grid-template-rows: repeat(3,32vw);
  }

  #facultyHero .hero-inner {
    display:none;
  }

}

@media (min-width: 1001px){
  .showMobile{
    display:none;
  }
}

@media (max-width: 1080px) {
  #aboutUsTiles {
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
  }
  #aboutUsTiles .tile {
    height:50vw;
    border-width: 1px;
  }
  #aboutUsTiles .tile img {
    height:50vw;
  }
  #aboutUsTiles .tile .top {
    height:50vw;
  }
  #aboutUsTiles .tile .bottom {
    height:50vw;
  }
  #aboutUsTiles .tile .cover {
    position: relative;
    height:50vw;
  }
  #aboutUsTiles .tile .tileTitle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  #aboutUsTiles .tileContent {
    visibility: hidden;
  }
  #aboutUsTiles .tile .tileHeader{
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  #aboutUsTiles .tile .learnMore {
    visibility: hidden;
  }
  #activitiesTiles .tile {
    height:100vw;
    border-width: 1px;
  }
  #activitiesTiles .tile img {
    height:100vw;
  }
  #activitiesTiles .tile .top {
    height:100vw;
  }
  #activitiesTiles .tile .bottom {
    height:100vw;
  }
  #activitiesTiles .tile .cover {
    position: relative;
    height:100vw;
  }
  #activitiesTiles .tile .tileTitle {
    position: absolute;
    left: 50vw;
    transform: translate(-50%, 50%);
    width: 80vw;
  }
  #activitiesTiles .tileContent {
    visibility: hidden;
  }
  #activitiesTiles .tile .tileHeader{
    /*top: 50%;*/
    left: 50%;
    transform: translate(-62%);
  }
  #activitiesTiles .tile .learnMore {
    visibility: hidden;
  }

  #activitiesTiles {
    /*grid-template-columns: repeat(auto-fit,minmax(500px,1fr));*/
    grid-template-columns: repeat(1,100vw);
    grid-template-rows: repeat(1,100vw);
  }
  #aboutUsTiles {
    /*grid-template-columns: repeat(auto-fit,minmax(500px,1fr));*/
    grid-template-columns: repeat(2,50vw);
    grid-template-rows: repeat(2,50vw);
  }
}


@media (max-width: 1140px){
  #homeHero .hero-inner {
    position: initial;
    /*background: rgba(0,0,0,.6)*/
  }
  #homeHero .homeHeroMask {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
    z-index: -1;
  }
}


.site_intro {
  height: 300px;
  background: black;
  margin:0;
  border-bottom: #EEEEEE;
  border-bottom-style: solid;
  border-width: 1px;
  padding: 20px;
  padding-top:80px;
}
@media (min-width: 661px) {
  .site_intro .row {
    text-align: center;
    color: white;
    position: absolute;
    left: 20px;
    width: 40vw;
  }
}

.site_intro .row h1 {
  color: white;
  /*top:50%;*/
  /*transform: translate(0,-50%);*/
}

.site_intro img {
  position: absolute;
  right: 10vw;
  top:75px;

}

#satelliteHero{
  transform-style: preserve-3d;
  overflow-x:hidden;
  overflow-y:auto;
}
/*.parallax-1 {*/
/*  width: 100vw;*/
/*  height:100vh;*/
/*  padding-top:20vh;*/
/*  box-sizing: border-box;*/
/*  transform-style: preserve-3d;*/
/*  position: absolute;*/
/*}*/

/*.parallax-1::before {*/
/*  content:"";*/
/*  width: 100vw;*/
/*  height: 100vh;*/
/*  top:0;*/
/*  left:0;*/
/*  !*background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/62/Starsinthesky.jpg");*!*/
/*  position: absolute;*/
/*  z-index: -1;*/
/*  transform:translateZ(-1px) scale(2);*/
/*}*/




